// Fonts here
@font-face {
  font-family: 'Circe';
  font-style: 'regular';
  font-weight: 400;
  src: url('../fonts/Circe-Regular.woff');
}

@font-face {
  font-family: 'Plumb';
  font-style: 'regular';
  font-weight: 400;
  src: url('../fonts/plumb-regular.ttf');
}