// Font
$mainFont                : 'Circe';
$sndFont                 : 'Plumb';

// Size
$mainFontColor           : 'rgba(255, 255, 255, 1)';
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1920px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;